/* import styled from 'styled-components';

export const ContactsWrap=styled.div` width: 400px;
`;

export const ContactListStyled=styled.ul` display: flex;
padding: 0px;
flex-direction: column;
color: #000;
gap: 10px;
`;

export const ContactItem=styled.li` display: flex;
justify-content: space-between;
aline-items: center;
`;

export const ContactItemText=styled.p` margin: 0px auto 0px 0px;
`; */